*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff5f5f, #ff9664);

    .Contenedor {
        width: 80%; /* mejor con min-width: 1400px; ? */
        height: 100%;
        padding: 20px 30px;
        background-color: white;
        /* Quitar el color de * y poner aqui y en el ul>li>a color: white; ? */

        header {
            /*margin-bottom: 20px;*/
            background-color: #00a5f0;

            h1{
                padding: 10px;
            }

            nav {
                ul{
                    li{
                        display: inline-block;

                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        main {
            text-align: center;

            display: flex;
            align-items: flex-start;

            #Servicio\ 1 {
                background-color: #e13732;
            }

            #Servicio\ 2 {
                background-color: #8c23aa;
            }

            #Servicio\ 3 {
                background-color: #3c50b4; 
            }
        }

        aside {
            background-color: #00a5f0;

            h2{
                text-align: center;
            }
        }
        
        footer {
            flex-direction: column;
            text-align: center;
            background-color: #8c23aa;
        }
    }
}