* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    max-width: 1100px;
    background-color:  #f2f2f2;

    main {
        text-align: center; /* Se les aplica a h1 y a section */

        h1 {
            padding: 20px;
        }

        #Entradas { /* Contenedor */
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
            gap: 16px;
            
            .Articulos {  /* Elemento */
                
                width: 300px;
                margin: 8px;
                background-color: white;
        
                img {
                    width: 100%;
                }

                h2 {
        
                }
                p {
                    label{
        
                    }
                    a{
                        text-decoration: none;
                        color: #e659ad;
                    }
                }
                a{
        
                }
            }

            #Art01 {
            
            }
            #Art02 {
                
            }
            #Art03 {
                
            }
            #Art04 {
                
            }
            #Art05 {
                
            }
            #Art06 {
                
            }
        }
    }
}

@media (max-width: 768px) {

}

@media (max-width: 468px) {

}